<!doctype html>
<html lang="en">
<%- include( 'head' , { title: "" } ) %>

    <body>
        <div class="main-content">
            <div class="container-fluid">
                <h3 class="page-title">
                    일용노무대장
                </h3>
                <div class="row">
                    <div class="col-md-12">
                        <div class="">
                            <button type="button" class="btn btn-primary btn-excel" onclick="javascript:uploadExcelButton()"><i
                                    class="fa fa-upload"></i> 엑셀 입력하기</button>
                            <button type="button" class="btn btn-success btn-excel" download onclick="javascript:downloadExcel()"><i
                                    class="fa fa-download"></i> 엑셀 다운로드</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <!-- PANEL DEFAULT -->
                        <div id="detailPanel" class="panel hidden">
                            <div class="panel-heading">
                                <div class="right">
                                    <button type="button" id="laborPanel" class="btn-toggle-collapse"><i
                                            class="lnr lnr-chevron-up"></i></button>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="modal-body">
                                    <!-- <h3 class="page-title">업체 정보</h3> -->
                                    <form class="container-fluid" id="workerForm" action="join" method="POST">
                                        <div class="panel-body">
                                            <div class="row form-group">
                                                <div class="col-md-2">
                                                    <label for="name" class="text-primary">이름</label>
                                                    <input id="name" name="name" type="text" class="form-control" placeholder="성명" readonly>
                                                    <small class="invalid-feedback text-danger" id="name_feedback"></small>
                                                </div>
                                                <div class="col-md-2">
                                                    <label for="idcard_number" class="text-primary">주민번호</label>
                                                    <input name="idcard_number" id="idcard_number" type="text" class="form-control" placeholder="주민 번호" readonly>
                                                    <small class="invalid-feedback text-danger" id="idcard_number_feedback"></small>
                                                </div>
                                                <div class="col-md-2 hidden">
                                                    <label for="contract_type" class="text-primary">계약형태</label>
                                                    <input name="contract_type" id="contract_type" type="text" class="form-control" placeholder="계약형태" readonly>
                                                    <small class="invalid-feedback text-danger" id="contract_type_feedback"></small>
                                                </div>
                                                <div class="col-md-2">
                                                    <label for="part" class="text-primary">직무</label>
                                                    <input id="part" name="part" type="text" class="form-control" placeholder="직무" readonly>
                                                    <small class="invalid-feedback text-danger" id="part_feedback"></small>
                                                </div>
                                                <div class="col-md-2">
                                                    <label for="position" class="text-primary">직급</label>
                                                    <input id="position" name="position" type="text" class="form-control" placeholder="직급" readonly>
                                                    <small class="invalid-feedback text-danger" id="position_feedback"></small>
                                                </div>
                                                <div class="col-md-2">
                                                    <label for="worked_on" class="text-primary">근로장소</label>
                                                    <input id="worked_on" name="worked_on" type="text" class="form-control" placeholder="근무장소" readonly>
                                                    <small class="invalid-feedback text-danger" id="worked_on_feedback"></small>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col-md-2">
                                                    <label for="entered" class="text-primary">입사일</labely>
                                                    <input id="entered" name="entered" type="text" class="form-control" placeholder="입사일" readonly>
                                                    <small class="invalid-feedback text-danger" id="entered_feedback"></small>
                                                </div>
                                                <div class="col-md-2">
                                                    <label for="resigned">퇴사일</label>
                                                    <input id="resigned" name="resigned" type="text" class="form-control" placeholder="퇴사일" readonly>
                                                    <small class="invalid-feedback text-danger" id="resigned_feedback"></small>
                                                </div>
                                                <div class="col-md-4">
                                                    <label for="email" class="text-primary">이메일</label>
                                                    <input id="email" name="email" type="text" class="form-control" placeholder="이메일" readonly>
                                                    <small class="invalid-feedback text-danger" id="email_feedback"></small>
                                                </div>  
                                            </div>
                                            <div class="row form-group">
                                                <div class="col-md-4">
                                                    <label for="post_no" class="text-primary">주소</label>
                                                    <input id="post_no" name="post_no" type="text" class="form-control" placeholder="우편번호" readonly>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col-md-12">
                                                    <input id="address" name="address" type="text" class="form-control" placeholder="주소" readonly>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col-md-12">
                                                    <input onkeyup="javascript:validateAddress()" id="address_detail" name="address_detail" type="text" class="form-control" placeholder="상세주소" readonly>
                                                    <small class="invalid-feedback text-danger" id="address_feedback"></small>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="contract_normal">
                                            <div class="panel-body">
                                                <!-- <div class="row form-group">
                                                    <div class="col-md-12">
                                                        <div class="">
                                                            <button type="button" class="btn btn-excel" onclick="javascript:putContractCalc()"><i
                                                                    class="fa fa-pencil"></i> 계약서 계산값 불러오기</button>
                                                        </div>
                                                    </div>
                                                </div> -->
                                                <div id="contract_type_container">
                                                    <div class="row form-group">
                                                        <div class="col-md-2">
                                                            <label for="sallary" class="text-primary">일당</label>
                                                            <input id="sallary" name="sallary" type="text" class="form-control" placeholder="" onFocusOut="removeChar(event);inputNumberFormat(this);" onKeyUp="removeChar(event, this);inputNumberFormat(this);" onKeyDown="inputNumberFormat(this);">
                                                            <small class="invalid-feedback text-danger" id="sallary_feedback"></small>
                                                        </div>
                                                    </div>
                                                    <div class="row form-group">
                                                        <div class="col-md-2">
                                                            <label for="1일 " class="text-normal">1일 출역</label>
                                                            <select id="day_1" name="day_1" class="form-control">
                                                                <option value=0>0</option>
                                                                <option value=5>0.5</option>
                                                                <option value=10>1</option>
                                                                <option value=15>1.5</option>
                                                                <option value=20>2</option>
                                                                <!-- TODO: 말일 처리. 급여 계산 시작일 필요 -->
                                                            </select>
                                                        </div>  
                                                        <div class="col-md-2">
                                                            <label for="1일 " class="text-normal">2일 출역</label>
                                                            <select id="day_2" name="day_2" class="form-control">
                                                                <option value=0>0</option>
                                                                <option value=5>0.5</option>
                                                                <option value=10>1</option>
                                                                <option value=15>1.5</option>
                                                                <option value=20>2</option>
                                                                <!-- TODO: 말일 처리. 급여 계산 시작일 필요 -->
                                                            </select>
                                                        </div>  
                                                        <div class="col-md-2">
                                                            <label for="1일 " class="text-normal">3일 출역</label>
                                                            <select id="day_3" name="day_3" class="form-control">
                                                                <option value=0>0</option>
                                                                <option value=5>0.5</option>
                                                                <option value=10>1</option>
                                                                <option value=15>1.5</option>
                                                                <option value=20>2</option>
                                                                <!-- TODO: 말일 처리. 급여 계산 시작일 필요 -->
                                                            </select>
                                                        </div>  
                                                        <div class="col-md-2">
                                                            <label for="1일 " class="text-normal">4일 출역</label>
                                                            <select id="day_4" name="day_4" class="form-control">
                                                                <option value=0>0</option>
                                                                <option value=5>0.5</option>
                                                                <option value=10>1</option>
                                                                <option value=15>1.5</option>
                                                                <option value=20>2</option>
                                                                <!-- TODO: 말일 처리. 급여 계산 시작일 필요 -->
                                                            </select>
                                                        </div>  
                                                        <div class="col-md-2">
                                                            <label for="1일 " class="text-normal">5일 출역</label>
                                                            <select id="day_5" name="day_5" class="form-control">
                                                                <option value=0>0</option>
                                                                <option value=5>0.5</option>
                                                                <option value=10>1</option>
                                                                <option value=15>1.5</option>
                                                                <option value=20>2</option>
                                                                <!-- TODO: 말일 처리. 급여 계산 시작일 필요 -->
                                                            </select>
                                                        </div>  
                                                        <div class="col-md-2">
                                                            <label for="1일 " class="text-normal">6일 출역</label>
                                                            <select id="day_6" name="day_6" class="form-control">
                                                                <option value=0>0</option>
                                                                <option value=5>0.5</option>
                                                                <option value=10>1</option>
                                                                <option value=15>1.5</option>
                                                                <option value=20>2</option>
                                                                <!-- TODO: 말일 처리. 급여 계산 시작일 필요 -->
                                                            </select>
                                                        </div>  
                                                    </div>
                                                    <div class="row form-group">
                                                        <div class="col-md-2">
                                                            <label for="1일 " class="text-normal">7일 출역</label>
                                                            <select id="day_7" name="day_7" class="form-control">
                                                                <option value=0>0</option>
                                                                <option value=5>0.5</option>
                                                                <option value=10>1</option>
                                                                <option value=15>1.5</option>
                                                                <option value=20>2</option>
                                                                <!-- TODO: 말일 처리. 급여 계산 시작일 필요 -->
                                                            </select>
                                                        </div>  
                                                        <div class="col-md-2">
                                                            <label for="1일 " class="text-normal">8일 출역</label>
                                                            <select id="day_8" name="day_8" class="form-control">
                                                                <option value=0>0</option>
                                                                <option value=5>0.5</option>
                                                                <option value=10>1</option>
                                                                <option value=15>1.5</option>
                                                                <option value=20>2</option>
                                                                <!-- TODO: 말일 처리. 급여 계산 시작일 필요 -->
                                                            </select>
                                                        </div>  
                                                        <div class="col-md-2">
                                                            <label for="1일 " class="text-normal">9일 출역</label>
                                                            <select id="day_9" name="day_9" class="form-control">
                                                                <option value=0>0</option>
                                                                <option value=5>0.5</option>
                                                                <option value=10>1</option>
                                                                <option value=15>1.5</option>
                                                                <option value=20>2</option>
                                                                <!-- TODO: 말일 처리. 급여 계산 시작일 필요 -->
                                                            </select>
                                                        </div>  
                                                        <div class="col-md-2">
                                                            <label for="1일 " class="text-normal">10일 출역</label>
                                                            <select id="day_10" name="day_10" class="form-control">
                                                                <option value=0>0</option>
                                                                <option value=5>0.5</option>
                                                                <option value=10>1</option>
                                                                <option value=15>1.5</option>
                                                                <option value=20>2</option>
                                                                <!-- TODO: 말일 처리. 급여 계산 시작일 필요 -->
                                                            </select>
                                                        </div>  
                                                        <div class="col-md-2">
                                                            <label for="1일 " class="text-normal">11일 출역</label>
                                                            <select id="day_11" name="day_11" class="form-control">
                                                                <option value=0>0</option>
                                                                <option value=5>0.5</option>
                                                                <option value=10>1</option>
                                                                <option value=15>1.5</option>
                                                                <option value=20>2</option>
                                                                <!-- TODO: 말일 처리. 급여 계산 시작일 필요 -->
                                                            </select>
                                                        </div>  
                                                        <div class="col-md-2">
                                                            <label for="1일 " class="text-normal">12일 출역</label>
                                                            <select id="day_12" name="day_12" class="form-control">
                                                                <option value=0>0</option>
                                                                <option value=5>0.5</option>
                                                                <option value=10>1</option>
                                                                <option value=15>1.5</option>
                                                                <option value=20>2</option>
                                                                <!-- TODO: 말일 처리. 급여 계산 시작일 필요 -->
                                                            </select>
                                                        </div>  
                                                    </div>
                                                    <div class="row form-group">
                                                        <div class="col-md-2">
                                                            <label for="1일 " class="text-normal">13일 출역</label>
                                                            <select id="day_13" name="day_13" class="form-control">
                                                                <option value=0>0</option>
                                                                <option value=5>0.5</option>
                                                                <option value=10>1</option>
                                                                <option value=15>1.5</option>
                                                                <option value=20>2</option>
                                                                <!-- TODO: 말일 처리. 급여 계산 시작일 필요 -->
                                                            </select>
                                                        </div>  
                                                        <div class="col-md-2">
                                                            <label for="1일 " class="text-normal">14일 출역</label>
                                                            <select id="day_14" name="day_14" class="form-control">
                                                                <option value=0>0</option>
                                                                <option value=5>0.5</option>
                                                                <option value=10>1</option>
                                                                <option value=15>1.5</option>
                                                                <option value=20>2</option>
                                                                <!-- TODO: 말일 처리. 급여 계산 시작일 필요 -->
                                                            </select>
                                                        </div>  
                                                        <div class="col-md-2">
                                                            <label for="1일 " class="text-normal">15일 출역</label>
                                                            <select id="day_15" name="day_15" class="form-control">
                                                                <option value=0>0</option>
                                                                <option value=5>0.5</option>
                                                                <option value=10>1</option>
                                                                <option value=15>1.5</option>
                                                                <option value=20>2</option>
                                                                <!-- TODO: 말일 처리. 급여 계산 시작일 필요 -->
                                                            </select>
                                                        </div>  
                                                        <div class="col-md-2">
                                                            <label for="1일 " class="text-normal">16일 출역</label>
                                                            <select id="day_16" name="day_16" class="form-control">
                                                                <option value=0>0</option>
                                                                <option value=5>0.5</option>
                                                                <option value=10>1</option>
                                                                <option value=15>1.5</option>
                                                                <option value=20>2</option>
                                                                <!-- TODO: 말일 처리. 급여 계산 시작일 필요 -->
                                                            </select>
                                                        </div>  
                                                        <div class="col-md-2">
                                                            <label for="1일 " class="text-normal">17일 출역</label>
                                                            <select id="day_17" name="day_17" class="form-control">
                                                                <option value=0>0</option>
                                                                <option value=5>0.5</option>
                                                                <option value=10>1</option>
                                                                <option value=15>1.5</option>
                                                                <option value=20>2</option>
                                                                <!-- TODO: 말일 처리. 급여 계산 시작일 필요 -->
                                                            </select>
                                                        </div>  
                                                        <div class="col-md-2">
                                                            <label for="1일 " class="text-normal">18일 출역</label>
                                                            <select id="day_18" name="day_18" class="form-control">
                                                                <option value=0>0</option>
                                                                <option value=5>0.5</option>
                                                                <option value=10>1</option>
                                                                <option value=15>1.5</option>
                                                                <option value=20>2</option>
                                                                <!-- TODO: 말일 처리. 급여 계산 시작일 필요 -->
                                                            </select>
                                                        </div>  
                                                    </div>
                                                    <div class="row form-group">
                                                        <div class="col-md-2">
                                                            <label for="1일 " class="text-normal">19일 출역</label>
                                                            <select id="day_19" name="day_19" class="form-control">
                                                                <option value=0>0</option>
                                                                <option value=5>0.5</option>
                                                                <option value=10>1</option>
                                                                <option value=15>1.5</option>
                                                                <option value=20>2</option>
                                                                <!-- TODO: 말일 처리. 급여 계산 시작일 필요 -->
                                                            </select>
                                                        </div>  
                                                        <div class="col-md-2">
                                                            <label for="1일 " class="text-normal">20일 출역</label>
                                                            <select id="day_20" name="day_20" class="form-control">
                                                                <option value=0>0</option>
                                                                <option value=5>0.5</option>
                                                                <option value=10>1</option>
                                                                <option value=15>1.5</option>
                                                                <option value=20>2</option>
                                                                <!-- TODO: 말일 처리. 급여 계산 시작일 필요 -->
                                                            </select>
                                                        </div>  
                                                        <div class="col-md-2">
                                                            <label for="1일 " class="text-normal">21일 출역</label>
                                                            <select id="day_21" name="day_21" class="form-control">
                                                                <option value=0>0</option>
                                                                <option value=5>0.5</option>
                                                                <option value=10>1</option>
                                                                <option value=15>1.5</option>
                                                                <option value=20>2</option>
                                                                <!-- TODO: 말일 처리. 급여 계산 시작일 필요 -->
                                                            </select>
                                                        </div>  
                                                        <div class="col-md-2">
                                                            <label for="1일 " class="text-normal">22일 출역</label>
                                                            <select id="day_22" name="day_22" class="form-control">
                                                                <option value=0>0</option>
                                                                <option value=5>0.5</option>
                                                                <option value=10>1</option>
                                                                <option value=15>1.5</option>
                                                                <option value=20>2</option>
                                                                <!-- TODO: 말일 처리. 급여 계산 시작일 필요 -->
                                                            </select>
                                                        </div>  
                                                        <div class="col-md-2">
                                                            <label for="1일 " class="text-normal">23일 출역</label>
                                                            <select id="day_23" name="day_23" class="form-control">
                                                                <option value=0>0</option>
                                                                <option value=5>0.5</option>
                                                                <option value=10>1</option>
                                                                <option value=15>1.5</option>
                                                                <option value=20>2</option>
                                                                <!-- TODO: 말일 처리. 급여 계산 시작일 필요 -->
                                                            </select>
                                                        </div>  
                                                        <div class="col-md-2">
                                                            <label for="1일 " class="text-normal">24일 출역</label>
                                                            <select id="day_24" name="day_24" class="form-control">
                                                                <option value=0>0</option>
                                                                <option value=5>0.5</option>
                                                                <option value=10>1</option>
                                                                <option value=15>1.5</option>
                                                                <option value=20>2</option>
                                                                <!-- TODO: 말일 처리. 급여 계산 시작일 필요 -->
                                                            </select>
                                                        </div>  
                                                    </div>
                                                    <div class="row form-group">
                                                        <div class="col-md-2">
                                                            <label for="1일 " class="text-normal">25일 출역</label>
                                                            <select id="day_25" name="day_25" class="form-control">
                                                                <option value=0>0</option>
                                                                <option value=5>0.5</option>
                                                                <option value=10>1</option>
                                                                <option value=15>1.5</option>
                                                                <option value=20>2</option>
                                                                <!-- TODO: 말일 처리. 급여 계산 시작일 필요 -->
                                                            </select>
                                                        </div>  
                                                        <div class="col-md-2">
                                                            <label for="1일 " class="text-normal">26일 출역</label>
                                                            <select id="day_26" name="day_26" class="form-control">
                                                                <option value=0>0</option>
                                                                <option value=5>0.5</option>
                                                                <option value=10>1</option>
                                                                <option value=15>1.5</option>
                                                                <option value=20>2</option>
                                                                <!-- TODO: 말일 처리. 급여 계산 시작일 필요 -->
                                                            </select>
                                                        </div>  
                                                        <div class="col-md-2">
                                                            <label for="1일 " class="text-normal">27일 출역</label>
                                                            <select id="day_27" name="day_27" class="form-control">
                                                                <option value=0>0</option>
                                                                <option value=5>0.5</option>
                                                                <option value=10>1</option>
                                                                <option value=15>1.5</option>
                                                                <option value=20>2</option>
                                                                <!-- TODO: 말일 처리. 급여 계산 시작일 필요 -->
                                                            </select>
                                                        </div>  
                                                        <div class="col-md-2">
                                                            <label for="1일 " class="text-normal">28일 출역</label>
                                                            <select id="day_28" name="day_28" class="form-control">
                                                                <option value=0>0</option>
                                                                <option value=5>0.5</option>
                                                                <option value=10>1</option>
                                                                <option value=15>1.5</option>
                                                                <option value=20>2</option>
                                                                <!-- TODO: 말일 처리. 급여 계산 시작일 필요 -->
                                                            </select>
                                                        </div>  
                                                        <div class="col-md-2">
                                                            <label for="1일 " class="text-normal">29일 출역</label>
                                                            <select id="day_29" name="day_29" class="form-control">
                                                                <option value=0>0</option>
                                                                <option value=5>0.5</option>
                                                                <option value=10>1</option>
                                                                <option value=15>1.5</option>
                                                                <option value=20>2</option>
                                                                <!-- TODO: 말일 처리. 급여 계산 시작일 필요 -->
                                                            </select>
                                                        </div>  
                                                        <div class="col-md-2">
                                                            <label for="1일 " class="text-normal">30일 출역</label>
                                                            <select id="day_30" name="day_30" class="form-control">
                                                                <option value=0>0</option>
                                                                <option value=5>0.5</option>
                                                                <option value=10>1</option>
                                                                <option value=15>1.5</option>
                                                                <option value=20>2</option>
                                                                <!-- TODO: 말일 처리. 급여 계산 시작일 필요 -->
                                                            </select>
                                                        </div>  
                                                    </div>
                                                    <div class="row form-group">
                                                        <div class="col-md-2">
                                                            <label for="1일 " class="text-normal">31일 출역</label>
                                                            <select id="day_31" name="day_31" class="form-control">
                                                                <option value=0>0</option>
                                                                <option value=5>0.5</option>
                                                                <option value=10>1</option>
                                                                <option value=15>1.5</option>
                                                                <option value=20>2</option>
                                                                <!-- TODO: 말일 처리. 급여 계산 시작일 필요 -->
                                                            </select>
                                                        </div>  
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col-md-2">
                                                        <label for="tax" class="text-normal">소득세</label>
                                                        <input id="tax" name="tax" type="text" class="form-control" placeholder="" onFocusOut="removeChar(event);inputNumberFormat(this);" onKeyUp="removeChar(event, this);inputNumberFormat(this);" onKeyDown="inputNumberFormat(this);">
                                                        <small class="invalid-feedback text-danger" id="tax_feedback"></small>
                                                    </div>  
                                                    <div class="col-md-2">
                                                        <label for="resident_tax" class="text-normal">주민세</label>
                                                        <input id="resident_tax" name="resident_tax" type="text" class="form-control" placeholder="" onFocusOut="removeChar(event);inputNumberFormat(this);" onKeyUp="removeChar(event, this);inputNumberFormat(this);" onKeyDown="inputNumberFormat(this);">
                                                        <small class="invalid-feedback text-danger" id="resident_tax_feedback"></small>
                                                    </div>  
                                                    <div class="col-md-2">
                                                        <label for="national_pension" class="text-normal">국민연금</label>
                                                        <input id="national_pension" name="national_pension" type="text" class="form-control" placeholder="" onFocusOut="removeChar(event);inputNumberFormat(this);" onKeyUp="removeChar(event, this);inputNumberFormat(this);" onKeyDown="inputNumberFormat(this);">
                                                        <small class="invalid-feedback text-danger" id="national_pension_feedback"></small>
                                                    </div>  
                                                    <div class="col-md-2">
                                                        <label for="health_insurance" class="text-normal">건강보험</label>
                                                        <input id="health_insurance" name="health_insurance" type="text" class="form-control" placeholder="" onFocusOut="removeChar(event);inputNumberFormat(this);" onKeyUp="removeChar(event, this);inputNumberFormat(this);" onKeyDown="inputNumberFormat(this);">
                                                        <small class="invalid-feedback text-danger" id="health_insurance_feedback"></small>
                                                    </div>  
                                                    <div class="col-md-2">
                                                        <label for="employment_insurance" class="text-normal">고용보험</label>
                                                        <input id="employment_insurance" name="employment_insurance" type="text" class="form-control" placeholder="" onFocusOut="removeChar(event);inputNumberFormat(this);" onKeyUp="removeChar(event, this);inputNumberFormat(this);" onKeyDown="inputNumberFormat(this);">
                                                        <small class="invalid-feedback text-danger" id="employment_insurance_feedback"></small>
                                                    </div>  
                                                </div>
                                            </div>

  <!-- `tax` INT UNSIGNED NOT NULL COMMENT '소득세',
  `resident_tax` INT UNSIGNED NOT NULL COMMENT '주민세',
  `national_pension` INT UNSIGNED NOT NULL COMMENT '국민연금',
  `health_insurance` INT UNSIGNED NOT NULL COMMENT '건강보험',
  `employment_insurance` INT UNSIGNED NOT NULL COMMENT '고용보험', -->
                                        </div>
                                        <div class="panel-body">
                                            <div class="row form-group">
                                                <div class="col-md-12">
                                                    <small class="text-primary">* 표기된 항목은 필수 입력 항목입니다.</small>
                                                </div>
                                            </div>
                                        </div>  
                                        <input id="worker_id" name="worker_id" type="hidden">
                                        <input id="contract_id" name="contract_id" type="hidden">
                                        <input id="labor_id" name="labor_id" type="hidden">
                                        <input id="total_working_days" name="total_working_days" type="hidden">
                                    </form>
                                </div>
                            </div>
                            <div class="panel-footer panel-footer-right form-inline">
                                <button type="button" class="btn btn-primary" onclick="javascript:doEdit()">수정</button>
                                <button type="button" class="btn"
                                    onclick="javascript:cancelEdit()">취소</button>
                            </div>
                        </div>
                        <!-- END PANEL DEFAULT -->
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel">
                            <div class="panel-body">
                                <table class="table table-striped" id="table" data-paging-position="right">
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%- include( 'spinner' ) %>
        </div>
        <form id="excelForm" action="uploadWorkerExcel" method="POST">
            <input type="file" id="excel" name="excel" class="hidden" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" onchange="javascript:uploadExcel()"/>
        </form>
    </body>

    <!-- Javascript -->
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="assets/vendor/footable/js/ie10-viewport-bug-workaround.js"></script>
    <!-- Add in any FooTable dependencies we may need -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
    <script src="assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="assets/scripts/klorofil-common.js"></script>
    <script src="assets/scripts/nomu-common.js"></script>
    <!-- FOO TABLE 필요시 모듈화 -->
    <script src="assets/vendor/footable/js/footable.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.ko.min.js" integrity="sha512-L4qpL1ZotXZLLe8Oo0ZyHrj/SweV7CieswUODAAPN/tnqN3PA1P+4qPu5vIryNor6HQ5o22NujIcAZIfyVXwbQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <%- include( 'laborListDataTableScript' ) %>
    <script>
        let table = {}
        
        jQuery(function ($) {
            table = FooTable.init('#table', laborTableSetting)
            reloadLaborTable(table, setData)

            hidePanelOnStart($('#laborPanel'))
            $('#detailPanel').toggleClass('hidden')
        });

        function setData( table, list ) {
            list.map((item) => {

                //alert( JSON.stringify(item) )

                item.nameTag = "\
                    <div class='btn-group'>\
                    <a href='javascript:editLabor(" + item.labor_id + ", " + item.worker_id + ")'>" + item.name + "<span class='caret'></span></a>\
                    "

                // item.preview = "\
                //     <div class='btn-group'>\
                //     <a href='javascript:previewLabor(" + item.labor_id + ",\"" + (item.labor_pdf_uri?item.labor_pdf_uri:"") + "\")'>급여명세서보기<span class='caret'></span></a>\
                //     "

                switch( item.contractType ) {
                    case 0:
                        item.constract_type_string = '<%= nomu.common.workerTypeTitle(nomu.common.workerType.normal) %>'
                        break
                    case 1:
                        item.constract_type_string = '<%= nomu.common.workerTypeTitle(nomu.common.workerType.duration) %>'
                        break
                    case 2:
                        item.constract_type_string = '<%= nomu.common.workerTypeTitle(nomu.common.workerType.daily) %>'
                        break
                    default:
                        item.constract_type_string = '셀프작성'
                        break
                }

                if ( item.completed === null || item.completed == 0 ) {
                    item.completed_string = "<a class='text-danger' href='javascript:editLabor(" + item.labor_id + ", " + item.worker_id + ")'>" + "입력 필요" + "<span class='caret'></span></a>"
                } else {
                    item.completed_string = "입력 완료"
                }
                
                // item.sendMail = "\
                //     <div class='btn-group'>\
                //     <a href='javascript:sendPreview(" + item.id + ",\"" + item.email + "\")'>명세서발송<span class='caret'></span></a>\
                //     "

                return item
            })
            table.rows.load(list)
        }

        function putWorker( id, next = null ) {

                $.ajax({
                    type: "GET",
                    url: "<%=config.path.rest%>v1/worker/" + id,
                    headers: {
                        'Authorization': 'Bearer ' + '<%= nomu.token %>',
                    },  
                }).done(function (data, textStatus, xhr) {
                    let result = data
                    if(result.success == 1){
                        // ajax 이후
                        $('input, textarea, select').each(
                            function(index){  
                                var input = $(this)
                                
                                switch( input.attr('name') ) {
                                    case "worker_id":
                                        input.val( result.result.item.id )
                                        selectedWorkerId = result.result.item.id
                                        break
                                    case "name":
                                        input.val( result.result.item.name )
                                        break
                                    case "idcard_number":
                                        input.val( result.result.item.idcard_number )
                                        break
                                    case "post_no":
                                        input.val( result.result.item.post_no )
                                        break
                                    case "address":
                                        input.val( result.result.item.address )
                                        break
                                    case "address_detail":
                                        input.val( result.result.item.address_detail )
                                        break
                                    case "part":
                                        input.val( result.result.item.part )
                                        break
                                    case "position":
                                        input.val( result.result.item.position )
                                        break
                                    case "worked_on":
                                        input.val( result.result.item.worked_on )
                                        break
                                    case "contract_type":
                                        input.val( String(result.result.item.worker_type) ).trigger("change")
                                        break
                                    case "entered":
                                        input.val( result.result.item.entered )
                                        break
                                    case "resigned":
                                        input.val( result.result.item.resigned )
                                        break
                                    case "email":
                                        input.val( result.result.item.email )
                                        break
                                }
                            }
                        )
                         
                        //validateAll()
                        if ( next ) {
                            next()
                        }
                    } else {	
                        if ( result.errMsg === 'undefined' ) {
                            alert( "근로자 조회에 실패하였습니다. 관리자에게 문의하세요." )
                        } else {
                            alert( result.errMsg )
                        }
                    }
                }).fail(function(data, textStatus, errorThrown){
                    let result = eval("("+data.responseText+")")

                    if ( typeof result === 'undefined' || typeof result.errMsg === 'undefined') {
                        alert( "근로자 조회에 실패하였습니다. 관리자에게 문의하세요." )
                    } else {
                        alert( result.errMsg )
                    }
                });


            }

        function getDayWorkingDurationIndex( val ) {
            let index = 0

            switch ( Number(val) ) {
                case 0:
                    index = 0
                    break
                case 5:
                    index = 1
                    break
                case 10:
                    index = 2
                    break
                case 15:
                    index = 3
                    break
                case 20:
                    index = 4
                    break
            }

            return index
        }
        function putLabor( id ) {
            //alert( id )
            $.ajax({
                type: "GET",
                url: "<%=config.path.rest%>v1/labor/" + id,
                headers: {
                    'Authorization': 'Bearer ' + '<%= nomu.token %>',
                },  
            }).done(function (data, textStatus, xhr) {
                let result = data
                //alert( JSON.stringify(result.result.item) )
                if(result.success == 1){
                    // ajax 이후
                    $('input, textarea, select').each( function(index) {  
                        var input = $(this)
                        
                        switch( input.attr('name') ) {
                            case "day_1":
                                input.prop("selectedIndex", getDayWorkingDurationIndex(result.result.labor.day_1) )
                                break
                            case "day_2":
                                input.prop("selectedIndex", getDayWorkingDurationIndex(result.result.labor.day_2) )
                                break
                            case "day_3":
                                input.prop("selectedIndex", getDayWorkingDurationIndex(result.result.labor.day_3) )
                                break
                            case "day_4":
                                input.prop("selectedIndex", getDayWorkingDurationIndex(result.result.labor.day_4) )
                                break
                            case "day_5":
                                input.prop("selectedIndex", getDayWorkingDurationIndex(result.result.labor.day_5) )
                                break
                            case "day_6":
                                input.prop("selectedIndex", getDayWorkingDurationIndex(result.result.labor.day_6) )
                                break
                            case "day_7":
                                input.prop("selectedIndex", getDayWorkingDurationIndex(result.result.labor.day_7) )
                                break
                            case "day_8":
                                input.prop("selectedIndex", getDayWorkingDurationIndex(result.result.labor.day_8) )
                                break
                            case "day_9":
                                input.prop("selectedIndex", getDayWorkingDurationIndex(result.result.labor.day_9) )
                                break
                            case "day_10":
                                input.prop("selectedIndex", getDayWorkingDurationIndex(result.result.labor.day_10) )
                                break
                            case "day_11":
                                input.prop("selectedIndex", getDayWorkingDurationIndex(result.result.labor.day_11) )
                                break
                            case "day_12":
                                input.prop("selectedIndex", getDayWorkingDurationIndex(result.result.labor.day_12) )
                                break
                            case "day_13":
                                input.prop("selectedIndex", getDayWorkingDurationIndex(result.result.labor.day_13) )
                                break
                            case "day_14":
                                input.prop("selectedIndex", getDayWorkingDurationIndex(result.result.labor.day_14) )
                                break
                            case "day_15":
                                input.prop("selectedIndex", getDayWorkingDurationIndex(result.result.labor.day_15) )
                                break
                            case "day_16":
                                input.prop("selectedIndex", getDayWorkingDurationIndex(result.result.labor.day_16) )
                                break
                            case "day_17":
                                input.prop("selectedIndex", getDayWorkingDurationIndex(result.result.labor.day_17) )
                                break
                            case "day_18":
                                input.prop("selectedIndex", getDayWorkingDurationIndex(result.result.labor.day_18) )
                                break
                            case "day_19":
                                input.prop("selectedIndex", getDayWorkingDurationIndex(result.result.labor.day_19) )
                                break
                            case "day_20":
                                input.prop("selectedIndex", getDayWorkingDurationIndex(result.result.labor.day_20) )
                                break
                            case "day_21":
                                input.prop("selectedIndex", getDayWorkingDurationIndex(result.result.labor.day_21) )
                                break
                            case "day_22":
                                input.prop("selectedIndex", getDayWorkingDurationIndex(result.result.labor.day_22) )
                                break
                            case "day_23":
                                input.prop("selectedIndex", getDayWorkingDurationIndex(result.result.labor.day_23) )
                                break
                            case "day_24":
                                input.prop("selectedIndex", getDayWorkingDurationIndex(result.result.labor.day_24) )
                                break
                            case "day_25":
                                input.prop("selectedIndex", getDayWorkingDurationIndex(result.result.labor.day_25) )
                                break
                            case "day_26":
                                input.prop("selectedIndex", getDayWorkingDurationIndex(result.result.labor.day_26) )
                                break
                            case "day_27":
                                input.prop("selectedIndex", getDayWorkingDurationIndex(result.result.labor.day_27) )
                                break
                            case "day_28":
                                input.prop("selectedIndex", getDayWorkingDurationIndex(result.result.labor.day_28) )
                                break
                            case "day_29":
                                input.prop("selectedIndex", getDayWorkingDurationIndex(result.result.labor.day_29) )
                                break
                            case "day_30":
                                input.prop("selectedIndex", getDayWorkingDurationIndex(result.result.labor.day_30) )
                                break
                            case "day_31":
                                input.prop("selectedIndex", getDayWorkingDurationIndex(result.result.labor.day_31) )
                                break
                            case "sallary":
                                input.val( comma(String(result.result.labor.sallary)) )
                                break
                            case "tax":
                                input.val( comma(String(result.result.labor.tax)) )
                                break
                            case "resident_tax":
                                input.val( comma(String(result.result.labor.resident_tax)) )
                                break
                            case "national_pension":
                                input.val( comma(String(result.result.labor.national_pension)) )
                                break
                            case "health_insurance":
                                input.val( comma(String(result.result.labor.health_insurance)) )
                                break
                            case "employment_insurance":
                                input.val( comma(String(result.result.labor.employment_insurance)) )
                                break
                            case "contract_id":
                                input.val( String(result.result.labor.contract_id) )
                                break
                            case "labor_id":
                                input.val( String(result.result.labor.id) )
                                break
                        }
                    })

                    //return { type: type, day: day, startend: startend, rest1: rest1, rest2: rest2, rest3: rest3, pattern: pattern }
                    
                    //alert( "validateAll" )
                    validateAll()

                } else {	
                    if ( result.errMsg === 'undefined' ) {
                        alert( "계약서 조회에 실패하였습니다. 관리자에게 문의하세요." )
                    } else {
                        alert( result.errMsg )
                    }
                }
            }).fail(function(data, textStatus, errorThrown){
                // TODO: fail 일 경우 에러코드가 없다. 전체 적용. ( cros 때문에 200으로 보내기 때문. )
                alert( "계약서 조회에 실패하였습니다. 관리자에게 문의하세요." )
            });
        }

        function doEdit() {

            if ( $('#worker_id').val() == null || $('#worker_id').val() == "" ) {
                alert( "하단의 리스트에서 근로자를 먼저 선택해 주세요.")
                return
            }

            if (isCollapsePanel($('#laborPanel'))) {
                $('#laborPanel').click()
                return
            }

            doEditLabor($('#labor_id').val())
        }
    </script>
    <script>

        ////////////////////////////////////////////////////////////
        // TODO: utils/control

        // 숫자만 입력하는 부분에 event.target.value.replace(/[^-\.0-9]/g, ""); 로 바꿔주면 소수점까지 입력할 수 있습니다.
        function removeChar(event, obj = null) { 
            event = event || window.event; 
            var keyID = (event.which) ? event.which : event.keyCode; 
            
            if ( keyID == 46 || keyID == 37 || keyID == 39 ) { 
                return; 
            } else { 
                //숫자만 입력 
                event.target.value = event.target.value.replace(/[^0-9]/g, ""); 
            } 
        }

        function comma(obj) { 
            var regx = new RegExp(/(-?\d+)(\d{3})/); 
            var bExists = obj.indexOf(".", 0); 
            var strArr = obj.split('.'); 
            
            while (regx.test(strArr[0])) { 
                strArr[0] = strArr[0].replace(regx, "$1,$2"); 
            } 
            if (bExists > -1) { 
                obj = strArr[0] + "." + strArr[1]; 
            } else { 
                obj = strArr[0]; 
            } 
            
            return obj; 
        }

        function inputNumberFormat(obj) { 
            obj.value = comma(obj.value); 
        }

        // "removeChar(event);inputNumberFormat(this);" onKeyDown="inputNumberFormat(this);"
        ////////////////////////////////////////////////////////////

        let spinnerId = '#loading_spinner'

        function registerSpinner( id ) {
            spinnerId = id
        }

        function showSpinner() {
            if ( $(spinnerId).hasClass('hidden') == true ) {
                $(spinnerId).removeClass('hidden')
            }
        }

        function hideSpinner() {
            if ( $(spinnerId).hasClass('hidden') == false ) {
                $(spinnerId).addClass('hidden')
            }
        }
        ////////////////////////////////////////////////////////////

        let selectedUserId = '<%= nomu.user.user_id %>'
        let selectedWorkerId = -1

        // TODO: 날자 선택하도록 변경.
        const today = new Date()
        const formattedMonth = today.toISOString().slice(0, 8).replace(/-/g, '')


        const clearForm = (target) => {
            $(target).html("")
        }
        ////////////////////////////////////////////////////////////

        function sendPreview( id, email ) {
            // 현재 API 문제로 잠시 빼 둠.
            //putContract(2)

            alert( "메일 API 점검 중.")
        }

        function previewLabor( id, uri ) {
            let viewer = "<%= config.path.was %>" + "assets/vendor/pdfjs-2.12.313-legacy-dist/web/viewer.html"
            let query = "?file=" + /* uri */ "<%= config.path.rest %>" + "v1/util/file/" + uri
            if ( uri && uri !== "" ) {
                window.open( viewer + query )
            } else {
                showSpinner()

                $.ajax({
                    type: "GET",
                    url: "<%=config.path.rest%>v1/labor/" + id + "/preview",
                    headers: {
                        'Authorization': 'Bearer ' + '<%= nomu.token %>',
                    },  
                }).done(function (data, textStatus, xhr) {
                    hideSpinner()
                    let result = data
                    if(result.success == 1){
                        query = "?file=" + /* uri */ "<%= config.path.rest %>" + "v1/util/file/" + result.result.item.pdf_uri
                        // ajax 이후
                         window.open( viewer + query )
                         reloadLaborTable(table, setData)
                    } else {	
                        if ( result.errMsg === 'undefined' ) {
                            alert( "미리보기 생성에 실패하였습니다. 관리자에게 문의하세요." )
                        } else {
                            alert( result.errMsg )
                        }
                    }
                }).fail(function(data, textStatus, errorThrown){
                    hideSpinner()
                    let result = eval("("+data.responseText+")")

                    if ( typeof result === 'undefined' || typeof result.errMsg === 'undefined') {
                        alert( "미리보기 생성에 실패하였습니다. 관리자에게 문의하세요." )
                    } else {
                        alert( result.errMsg )
                    }
                });

            }
        }


        function editLabor( id, worker_id ) {
            if (isCollapsePanel($('#laborPanel'))) {
                $('#laborPanel').click()
            }

            putWorker(worker_id, () => {
                putLabor(id)
            })
        }

        function doEditLabor(id) {
            if (isCollapsePanel($('#laborPanel'))) {
                $('#laborPanel').click()
                return
            }

            let success = validateAll()
            let othersSuccess = withOther() 

            if ( success && othersSuccess ) {
                
                const body = getPostBody()

                //alert( JSON.stringify(body) )

                //showSpinner()
                $.ajax({
                    type: "PUT",
                    url: "<%=config.path.rest%>v1/labor/" + id,
                    data: body,    
                    headers: {
                        'Authorization': 'Bearer ' + '<%= nomu.token %>',
                    },  
                }).done(function (data, textStatus, xhr) {
                    //hideSpinner()

                    let result = data
                    if(result.success == 1){
                        // 값들 다시 비우고, 접어.
                        clear()
                        if (isCollapsePanel($('#laborPanel')) == false) {
                            $('#laborPanel').click()
                        }
                        reloadLaborTable(table, setData)
                    } else {	
                        if ( result.errMsg === 'undefined' ) {
                            alert( "작업에 실패하였습니다. 관리자에게 문의하세요." )
                        } else {
                            alert( result.errMsg )
                        }
                    }
                }).fail(function(data, textStatus, errorThrown){
                    //hideSpinner()

                    //alert( data.responseText )
                    let result = eval("("+data.responseText+")")

                    if ( typeof result === 'undefined' || typeof result.errMsg === 'undefined') {
                        alert( "작업에 실패하였습니다. 관리자에게 문의하세요." )
                    } else {
                        alert( result.errMsg )
                    }
                });

                //prepareSubmit()
            }
        }

        function clear() {
            $('input, textarea').each(
                function(index){  
                    var input = $(this)
                    input.val("")
                }
            )
            $('select').each(
                function(index){  
                    var input = $(this)
                    input.prop("selectedIndex", 0).trigger("change")
                }
            )
        }

        function validateAll() {
            let ret = validateAllInputs(inputs)

            if ( validateAddress() == false ) {
                ret = false
            }

            return ret
        }

        function doCancelEdit() {
            clear()

            if (isCollapsePanel($('#laborPanel'))==false) {
                $('#laborPanel').click()
            }
        }

        function cancelEdit() {
            if ( confirm("수정을 취소하시겠습니까?") ) {
                doCancelEdit()
            }

        }

    </script>
    <%- include( 'addressSearchScript' ) %>
        <script src="assets/scripts/validate.js"></script>
        <script>
            let inputs = [
                { id: "name", feedback_id: "name_feedback", type: validate_types.none, minLen: 1, maxLen: 100, feedback: "(1-100자)", required: true },
                { id: "idcard_number", feedback_id: "idcard_number_feedback", type: validate_types.idcard_number, minLen: 1, maxLen: 14, feedback: "형식을 확인해주세요.(ex: 111111-1111111)", required: true },
                { id: "position", feedback_id: "position_feedback", type: validate_types.none, minLen: 1, maxLen: 100, feedback: "(1-100자)", required: true },
                { id: "part", feedback_id: "part_feedback", type: validate_types.none, minLen: 1, maxLen: 100, feedback: "(1-100자)", required: true },
                { id: "worked_on", feedback_id: "worked_on_feedback", type: validate_types.none, minLen: 1, maxLen: 100, feedback: "(1-100자)", required: true },

                //{ id: "working_days", feedback_id: "working_days_feedback", type: validate_types.none, minLen: 1, maxLen: 100, feedback: "근무일수를 입력해 주세요", required: true },
                //{ id: "basic_time", feedback_id: "basic_time_feedback", type: validate_types.none, minLen: 1, maxLen: 100, feedback: "기본근로시간을 입력해 주세요", required: true },
                // { id: "entered", feedback_id: "entered_feedback", type: validate_types.none, minLen: 1, maxLen: 100, feedback: "날자를 선택해 주세요", required: true },
                // { id: "resigned", feedback_id: "resigned_feedback", type: validate_types.none, minLen: 1, maxLen: 100, feedback: "날자를 선택해 주세요", required: false },
                // { id: "email", feedback_id: "email_feedback", type: validate_types.email, minLen: 1, maxLen: 100, feedback: "형식을 확인해주세요.(ex: xxxxxx@naver.com)", required: true },
                // { id: "contract_start_date", feedback_id: "contract_start_date_feedback", type: validate_types.none, minLen: 1, maxLen: 100, feedback: "날자를 선택해 주세요", required: true },
                // { id: "contract_end_date", feedback_id: "contract_end_date_feedback", type: validate_types.none, minLen: 1, maxLen: 100, feedback: "날자를 선택해 주세요", required: true },
                // { id: "contract_writing_date", feedback_id: "contract_writing_date_feedback", type: validate_types.none, minLen: 1, maxLen: 100, feedback: "날자를 선택해 주세요", required: true },
                // { id: "sallary", feedback_id: "sallary_feedback", type: validate_types.none, minLen: 1, maxLen: 100, feedback: "월급여를 입력해 주세요", required: true },
                // { id: "sallary_day", feedback_id: "sallary_day_feedback", type: validate_types.none, minLen: 1, maxLen: 2, feedback: "급여일을 입력해 주시거나 형태를 확인해 주세요.", required: true },
            ]

            let withOther = () => {
                

                return true
            }

        </script>
        <script>

            function getPostBody() {
                let laborBody = {}
                
                $('input, textarea, select').each( function(index) {  
                    var input = $(this)
                    
                    switch( input.attr('name') ) {
                        case "labor_id":
                            laborBody.labor_id = input.val()
                            break
                        case "sallary":
                            laborBody.sallary = input.val()
                            break
                        case "day_1":
                            laborBody.day_1 = input.val()
                            break
                        case "day_2":
                            laborBody.day_2 = input.val()
                            break
                        case "day_3":
                            laborBody.day_3 = input.val()
                            break
                        case "day_4":
                            laborBody.day_4 = input.val()
                            break
                        case "day_5":
                            laborBody.day_5 = input.val()
                            break
                        case "day_6":
                            laborBody.day_6 = input.val()
                            break
                        case "day_7":
                            laborBody.day_7 = input.val()
                            break
                        case "day_8":
                            laborBody.day_8 = input.val()
                            break
                        case "day_9":
                            laborBody.day_9 = input.val()
                            break
                        case "day_10":
                            laborBody.day_10 = input.val()
                            break
                        case "day_11":
                            laborBody.day_11 = input.val()
                            break
                        case "day_12":
                            laborBody.day_12 = input.val()
                            break
                        case "day_13":
                            laborBody.day_13 = input.val()
                            break
                        case "day_14":
                            laborBody.day_14 = input.val()
                            break
                        case "day_15":
                            laborBody.day_15 = input.val()
                            break
                        case "day_16":
                            laborBody.day_16 = input.val()
                            break
                        case "day_17":
                            laborBody.day_17 = input.val()
                            break
                        case "day_18":
                            laborBody.day_18 = input.val()
                            break
                        case "day_19":
                            laborBody.day_19 = input.val()
                            break
                        case "day_20":
                            laborBody.day_20 = input.val()
                            break
                        case "day_21":
                            laborBody.day_21 = input.val()
                            break
                        case "day_22":
                            laborBody.day_22 = input.val()
                            break
                        case "day_23":
                            laborBody.day_23 = input.val()
                            break
                        case "day_24":
                            laborBody.day_24 = input.val()
                            break
                        case "day_25":
                            laborBody.day_25 = input.val()
                            break
                        case "day_26":
                            laborBody.day_26 = input.val()
                            break
                        case "day_27":
                            laborBody.day_27 = input.val()
                            break
                        case "day_28":
                            laborBody.day_28 = input.val()
                            break
                        case "day_29":
                            laborBody.day_29 = input.val()
                            break
                        case "day_30":
                            laborBody.day_30 = input.val()
                            break
                        case "day_31":
                            laborBody.day_31 = input.val()
                            break
                        case "tax":
                            laborBody.tax = input.val()
                            break
                        case "resident_tax":
                            laborBody.resident_tax = input.val()
                            break
                        case "national_pension":
                            laborBody.national_pension = input.val()
                            break
                        case "health_insurance":
                            laborBody.health_insurance = input.val()
                            break
                        case "employment_insurance":
                            laborBody.employment_insurance = input.val()
                            break
                    }
                })

                // alert( JSON.stringify(workerBody) + "A" )
                // alert( JSON.stringify(contractBody) )

                return { labor: laborBody }
            }
        </script>
        <script>
            const uploadExcelButton = () => {
                $('#excel').click()
            }

            const uploadExcel = () => {
                // alert( "값들의 정확한 입력을 위한 추가 코드 작성 중입니다. 내일 오전 중 재 오픈 하겠습니다.")
                // return
            
                showSpinner()

                var form = $('#excelForm')[0];  	 
                //alert( JSON.stringify(form) )
                // Create an FormData object          
                var data = new FormData(form);    
                //alert( JSON.stringify(data) )

                // TODO: IE10 이하에서 FormData 때문에 안 될 수 있으니 확인 필요.. 근데 어짜피 서명 쪽 캔버스 쓰려면 IE10 미만 지원이 되려나..
                $.ajax({
                    type: "POST",
                    url: "<%=config.path.rest%>v1/labor/excel/" + formattedMonth,
                    headers: {
                        'Authorization': 'Bearer ' + '<%= nomu.token %>',
                    },  
                    enctype: 'multipart/form-data',          
                    data: data,          
                    processData: false,    
                    contentType: false,      
                    cache: false,           
                    timeout: 600000, 
                }).done(function (data, textStatus, xhr) {
                    hideSpinner()

                    let result = data
                    reloadLaborTable(table, setData)
                    clear()
                    // TODO: worker 들 contract 로 변경. ( 현재는 테스트 기간이므로 보류 )
                    if ( $('#newWorkerButtons').hasClass('hidden') ) {
                        togglePanelButton()
                    }
                    if (isCollapsePanel($('#workerPanel'))==false) {
                        $('#workerPanel').click()
                    }
                    
                    if(result.success == 1){
                            alert( "엑셀 입력에 성공하였습니다." )
                    } else {
                        if ( result.errMsg === 'undefined' ) {
                            alert( "엑셀 입력에 실패하였습니다. 입력 폼을 확인해 주세요." )
                        } else {
                            alert( result.errMsg )
                        }
                    }
                }).fail(function(data, textStatus, errorThrown){
                    hideSpinner()
                    
                    let result = eval("("+data.responseText+")")

                    if ( typeof result === 'undefined' || typeof result.errMsg === 'undefined') {
                        alert( "통신에 실패하였습니다" )
                    } else {
                        alert( result.errMsg )
                    }
                });


                // TODO 작업 완료 후, 인풋 필드 클리어. 또한 이 함수에선 시작 시 인풋 필드 비어있는지 체크해서 비었으면 리턴.
            }

            const downloadExcel = () => {
                // alert( "값들의 정확한 입력을 위한 추가 코드 작성 중입니다. 내일 오전 중 재 오픈 하겠습니다.")
                // return
                
                showSpinner()
                $.ajax({
                    type: "GET",
                    url: "<%=config.path.rest%>v1/labor/excel/" + formattedMonth,
                    headers: {
                        'Authorization': 'Bearer ' + '<%= nomu.token %>',
                    },  
                    xhrFields:{
                        responseType: 'blob'
                    },
                }).done(function (data, textStatus, xhr) {
                    hideSpinner()

                    const fileName = "dailypayroll.xlsx"
                    if (window.navigator.msSaveOrOpenBlob) {
                        window.navigator.msSaveBlob(data, fileName);
                        return;
                    }
                    const blob = new Blob([data], {type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel;"})
                    const path = (window.URL ? URL : webkitURL).createObjectURL(blob);
                    const link = document.createElement('a')
                    link.href = path
                    link.download = fileName
                    link.click();
                    (window.URL ? URL : webkitURL).revokeObjectURL(path)
                    link.remove()

                }).fail(function(data, textStatus, errorThrown){
                    hideSpinner()
                    alert( "엑셀 다운로드에 실패하였습니다. 관리자에게 문의하세요." )
                    
                });
            }
        </script>
    </html>